Max Assistant.json
{"updatedAt":"2026-02-20T04:28:44.019Z","createdAt":"2026-02-11T08:26:38.970Z","id":"4NsZFA0xd7ey6Nfz","name":"Max Assistant","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"30b4a241-83e0-46ac-80c5-3908604b8355","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.user_id }}","rightValue":"=50488534"}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"fe6df8cf-10cc-4fc1-9489-362d5255daa1","name":"Check User","type":"n8n-nodes-base.if","position":[-560,128],"typeVersion":2.2},{"parameters":{"events":["message_created","message_chat_created","message_edited","bot_started"],"additionalFields":{}},"type":"n8n-nodes-max.maxTrigger","typeVersion":1,"position":[-1440,32],"id":"4fb66631-ef9e-4090-8484-e5027b7bf65c","name":"Max Trigger","webhookId":"71b1b2f0-efdb-4594-8ee8-9419e0c1621b","credentials":{"maxApi":{"id":"BztuT1mHDbgKhYGf","name":"Max Prod Bot account"}}},{"parameters":{"sendTo":"chat","chatId":"={{ $('Max Trigger').item.json.message.recipient.chat_id }}","text":"={{ $json.output }}","format":"html","additionalFields":{}},"type":"n8n-nodes-max.max","typeVersion":1,"position":[-80,112],"id":"c9e52bd0-e7c6-403e-bce0-b3458b6ccd4c","name":"Send answer","credentials":{"maxApi":{"id":"BztuT1mHDbgKhYGf","name":"Max Prod Bot account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"VmqRxUfBdXaUT6Gb_crlm","mode":"list","cachedResultUrl":"/workflow/VmqRxUfBdXaUT6Gb_crlm","cachedResultName":"Processing Chat Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-304,112],"id":"b2bad8f3-0a1e-40c7-a4f1-cd33a2357e8f","name":"Call 'Processing Chat Message'"},{"parameters":{"assignments":{"assignments":[{"id":"49acbe0d-4403-4905-bd75-b69f221b5212","name":"messenger_type","value":"max","type":"string"},{"id":"378fc529-4b9e-43ff-85bf-0dfb9efb5524","name":"chat_id","value":"={{ $json.message.recipient.chat_id }}","type":"string"},{"id":"0c755979-cdd0-4abe-8575-954c17c6010f","name":"user_name","value":"={{ $json.message.sender.first_name }}","type":"string"},{"id":"e5cc0585-1f18-424d-98f1-5292e67a0309","name":"user_id","value":"={{ $json.message.recipient.user_id }}","type":"number"},{"id":"8bd654b2-a26c-47cf-80d1-713d90dfbba9","name":"has_text","value":"={{ ($json.message.body.text != null && $json.message.body.text != '') || ($json.message.link.message.text != null && $json.message.link.message.text != '') }}","type":"boolean"},{"id":"21632d8a-d3a8-4ae0-9347-7e8368e825d1","name":"has_attachments","value":"={{ ($json.message.body.attachments != null && $json.message.body.attachments[0].type != 'audio') || ($json.message.link.message.attachments != null && $json.message.link.message.attachments[0].type != 'audio')}}","type":"boolean"},{"id":"21037b4d-203b-4a53-b8b0-f38c902511f1","name":"has_voice","value":"={{ ($json.message.body.attachments != null && $json.message.body.attachments[0].type === 'audio') || ($json.message.link.message.attachments != null && $json.message.link.message.attachments[0].type === 'audio') }}","type":"boolean"},{"id":"d7a43671-3b71-484d-a812-b8a624f4d515","name":"message_text","value":"={{ $json.message.body.text }}","type":"string"},{"id":"ad3e2fe2-dda8-45ae-bb1f-86fc45adfdd9","name":"attachments","value":"={{ $json.message.body.attachments }}","type":"array"},{"id":"5f403beb-f79a-4791-943f-a22923f58171","name":"link_attachments","value":"={{ $json.message.link.message.attachments }}","type":"array"},{"id":"1af3b882-9343-4b75-a426-bf101b8d4df6","name":"link_message_text","value":"={{ $json.message.link.message.text }}","type":"string"},{"id":"4831465e-ba1c-4283-8b76-0ed8841de3f4","name":"use_model","value":"GigaChat","type":"string"}]},"includeOtherFields":true,"include":"selected","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1008,32],"id":"83f1123b-b8e8-4cbf-8e13-3f52440f8661","name":"Edit Fields"},{"parameters":{"sendTo":"chat","chatId":"={{ $json.chat_id }}","text":"Привет! 😊✨ Я Айкона, твоя умная помощница! Помогу с любыми делами 🚀\n\nЧто я умею:\n\n🔍 Искать информацию в интернете (рецепты, новости, советы)\n\n📝 Составлять тексты (письма, посты, поздравления)\n\n💡 Давать идеи и советы по жизни, работе, хобби\n\n📱 Работать с фото, текстами и простыми задачами\n\n🎉 Развлекать шутками, гороскопами или историями\n\nНапиши, чем помочь — и вперёд! 💬","format":"html","additionalFields":{}},"type":"n8n-nodes-max.max","typeVersion":1,"position":[-560,-64],"id":"f276c629-d5f0-44df-bf21-dfcd3c048936","name":"Send a message","credentials":{"maxApi":{"id":"BztuT1mHDbgKhYGf","name":"Max Prod Bot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"68afa19c-62d2-4bc8-b653-ab2fac857de0","leftValue":"={{ $json.message_text }}","rightValue":"/start","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-784,32],"id":"8113f3f7-3e5d-4221-9f80-a0206a93342d","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"26b660a6-66c1-4d8d-a10f-ef142e4db6d5","leftValue":"={{ $json.message.recipient.user_id }}","rightValue":"173436689","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1232,32],"id":"19b22db6-de61-4805-950e-efb41b9b6df7","name":"If1"}],"connections":{"Check User":{"main":[[{"node":"Call 'Processing Chat Message'","type":"main","index":0}]]},"Max Trigger":{"main":[[{"node":"If1","type":"main","index":0}]]},"Call 'Processing Chat Message'":{"main":[[{"node":"Send answer","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Send a message","type":"main","index":0}],[{"node":"Check User","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b86a9f10-7031-4562-8ea8-0d6e8bfedcac","activeVersionId":"b86a9f10-7031-4562-8ea8-0d6e8bfedcac","triggerCount":1,"shared":[{"updatedAt":"2026-02-11T08:26:38.970Z","createdAt":"2026-02-11T08:26:38.970Z","role":"workflow:owner","workflowId":"4NsZFA0xd7ey6Nfz","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":{"updatedAt":"2026-02-20T04:28:45.582Z","createdAt":"2026-02-20T04:28:44.021Z","versionId":"b86a9f10-7031-4562-8ea8-0d6e8bfedcac","workflowId":"4NsZFA0xd7ey6Nfz","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"30b4a241-83e0-46ac-80c5-3908604b8355","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.user_id }}","rightValue":"=50488534"}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"fe6df8cf-10cc-4fc1-9489-362d5255daa1","name":"Check User","type":"n8n-nodes-base.if","position":[-560,128],"typeVersion":2.2},{"parameters":{"events":["message_created","message_chat_created","message_edited","bot_started"],"additionalFields":{}},"type":"n8n-nodes-max.maxTrigger","typeVersion":1,"position":[-1440,32],"id":"4fb66631-ef9e-4090-8484-e5027b7bf65c","name":"Max Trigger","webhookId":"71b1b2f0-efdb-4594-8ee8-9419e0c1621b","credentials":{"maxApi":{"id":"BztuT1mHDbgKhYGf","name":"Max Prod Bot account"}}},{"parameters":{"sendTo":"chat","chatId":"={{ $('Max Trigger').item.json.message.recipient.chat_id }}","text":"={{ $json.output }}","format":"html","additionalFields":{}},"type":"n8n-nodes-max.max","typeVersion":1,"position":[-80,112],"id":"c9e52bd0-e7c6-403e-bce0-b3458b6ccd4c","name":"Send answer","credentials":{"maxApi":{"id":"BztuT1mHDbgKhYGf","name":"Max Prod Bot account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"VmqRxUfBdXaUT6Gb_crlm","mode":"list","cachedResultUrl":"/workflow/VmqRxUfBdXaUT6Gb_crlm","cachedResultName":"Processing Chat Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-304,112],"id":"b2bad8f3-0a1e-40c7-a4f1-cd33a2357e8f","name":"Call 'Processing Chat Message'"},{"parameters":{"assignments":{"assignments":[{"id":"49acbe0d-4403-4905-bd75-b69f221b5212","name":"messenger_type","value":"max","type":"string"},{"id":"378fc529-4b9e-43ff-85bf-0dfb9efb5524","name":"chat_id","value":"={{ $json.message.recipient.chat_id }}","type":"string"},{"id":"0c755979-cdd0-4abe-8575-954c17c6010f","name":"user_name","value":"={{ $json.message.sender.first_name }}","type":"string"},{"id":"e5cc0585-1f18-424d-98f1-5292e67a0309","name":"user_id","value":"={{ $json.message.recipient.user_id }}","type":"number"},{"id":"8bd654b2-a26c-47cf-80d1-713d90dfbba9","name":"has_text","value":"={{ ($json.message.body.text != null && $json.message.body.text != '') || ($json.message.link.message.text != null && $json.message.link.message.text != '') }}","type":"boolean"},{"id":"21632d8a-d3a8-4ae0-9347-7e8368e825d1","name":"has_attachments","value":"={{ ($json.message.body.attachments != null && $json.message.body.attachments[0].type != 'audio') || ($json.message.link.message.attachments != null && $json.message.link.message.attachments[0].type != 'audio')}}","type":"boolean"},{"id":"21037b4d-203b-4a53-b8b0-f38c902511f1","name":"has_voice","value":"={{ ($json.message.body.attachments != null && $json.message.body.attachments[0].type === 'audio') || ($json.message.link.message.attachments != null && $json.message.link.message.attachments[0].type === 'audio') }}","type":"boolean"},{"id":"d7a43671-3b71-484d-a812-b8a624f4d515","name":"message_text","value":"={{ $json.message.body.text }}","type":"string"},{"id":"ad3e2fe2-dda8-45ae-bb1f-86fc45adfdd9","name":"attachments","value":"={{ $json.message.body.attachments }}","type":"array"},{"id":"5f403beb-f79a-4791-943f-a22923f58171","name":"link_attachments","value":"={{ $json.message.link.message.attachments }}","type":"array"},{"id":"1af3b882-9343-4b75-a426-bf101b8d4df6","name":"link_message_text","value":"={{ $json.message.link.message.text }}","type":"string"},{"id":"4831465e-ba1c-4283-8b76-0ed8841de3f4","name":"use_model","value":"GigaChat","type":"string"}]},"includeOtherFields":true,"include":"selected","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1008,32],"id":"83f1123b-b8e8-4cbf-8e13-3f52440f8661","name":"Edit Fields"},{"parameters":{"sendTo":"chat","chatId":"={{ $json.chat_id }}","text":"Привет! 😊✨ Я Айкона, твоя умная помощница! Помогу с любыми делами 🚀\n\nЧто я умею:\n\n🔍 Искать информацию в интернете (рецепты, новости, советы)\n\n📝 Составлять тексты (письма, посты, поздравления)\n\n💡 Давать идеи и советы по жизни, работе, хобби\n\n📱 Работать с фото, текстами и простыми задачами\n\n🎉 Развлекать шутками, гороскопами или историями\n\nНапиши, чем помочь — и вперёд! 💬","format":"html","additionalFields":{}},"type":"n8n-nodes-max.max","typeVersion":1,"position":[-560,-64],"id":"f276c629-d5f0-44df-bf21-dfcd3c048936","name":"Send a message","credentials":{"maxApi":{"id":"BztuT1mHDbgKhYGf","name":"Max Prod Bot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"68afa19c-62d2-4bc8-b653-ab2fac857de0","leftValue":"={{ $json.message_text }}","rightValue":"/start","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-784,32],"id":"8113f3f7-3e5d-4221-9f80-a0206a93342d","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"26b660a6-66c1-4d8d-a10f-ef142e4db6d5","leftValue":"={{ $json.message.recipient.user_id }}","rightValue":"173436689","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1232,32],"id":"19b22db6-de61-4805-950e-efb41b9b6df7","name":"If1"}],"connections":{"Check User":{"main":[[{"node":"Call 'Processing Chat Message'","type":"main","index":0}]]},"Max Trigger":{"main":[[{"node":"If1","type":"main","index":0}]]},"Call 'Processing Chat Message'":{"main":[[{"node":"Send answer","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Send a message","type":"main","index":0}],[{"node":"Check User","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"authors":"AIKona me","name":"Version b86a9f10","description":"","autosaved":true},"tags":[]}