Search Marketplace Items DEMO.json
{"updatedAt":"2026-02-18T11:01:27.924Z","createdAt":"2026-02-17T10:16:15.269Z","id":"BaBoB0ZcmWCFdt23wy0sh","name":"Search Marketplace Items DEMO","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=https://www.ozon.ru/search/","sendQuery":true,"queryParameters":{"parameters":[{"name":"text","value":"={{ $json.output.searchQuery }}"},{"name":"sorting","value":"price_asc"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"},{"name":"Accept","value":"application/json"}]},"options":{"batching":{"batch":{"batchSize":1}},"redirect":{"redirect":{"maxRedirects":10}}}},"id":"b9207ada-ae2e-4fc7-af56-b84c2069f1da","name":"Ozon Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-176,-64],"onError":"continueErrorOutput"},{"parameters":{"url":"=https://search.wb.ru/exactmatch/ru/common/v18/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.searchQuery }}"},{"name":"limit","value":"10"},{"name":"lang","value":"ru"},{"name":"sort","value":"popular"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"},{"name":"Accept","value":"application/json"}]},"options":{"batching":{"batch":{"batchSize":1}},"redirect":{"redirect":{"maxRedirects":10}}}},"id":"6d214a10-a73a-4d76-9dcc-69a8af9487e4","name":"Wildberries Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[48,32],"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"url":"=https://aliexpress.ru/gateway/api/search/products?keywords={{ $json.output.searchQuery }}&limit=5","options":{}},"id":"984cc630-fdfb-41eb-a8bc-28b9e7ec90f0","name":"AliExpress Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[272,128]},{"parameters":{"url":"=https://market.yandex.ru/api/v2/search.json?text={{ $json.output.searchQuery }}&limit=5","options":{}},"id":"180e1747-b184-45a0-ae9c-22ee66da9b6e","name":"Yandex Market Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[496,320]},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-624,32],"id":"8dc12944-0a7f-4591-ae71-5e7e23470087","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5517c26a-4850-4de0-826b-ee1ca48e7699","leftValue":"={{ $json.output.mp_type }}","rightValue":"ozon","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-400,32],"id":"5ed3d3b9-d518-4eb7-8445-5bc6231baa4b","name":"Ozon"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5517c26a-4850-4de0-826b-ee1ca48e7699","leftValue":"={{ $json.output.mp_type }}","rightValue":"wb","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-176,128],"id":"110d0657-308d-476b-9bac-5658dd41475d","name":"WB"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5517c26a-4850-4de0-826b-ee1ca48e7699","leftValue":"={{ $json.output.mp_type }}","rightValue":"ali","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[48,224],"id":"083ee3a4-083c-4b66-b491-2dc2016f01a7","name":"Ali"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5517c26a-4850-4de0-826b-ee1ca48e7699","leftValue":"={{ $json.output.mp_type }}","rightValue":"ym","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[272,320],"id":"cf869e58-7b89-43ba-be73-da2bbdc04ea6","name":"Yandex"}],"connections":{"Ozon Search":{"main":[[]]},"AliExpress Search":{"main":[[]]},"Yandex Market Search":{"main":[[]]},"Wildberries Search":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Ozon","type":"main","index":0}]]},"Ozon":{"main":[[{"node":"Ozon Search","type":"main","index":0}],[{"node":"WB","type":"main","index":0}]]},"WB":{"main":[[{"node":"Wildberries Search","type":"main","index":0}],[{"node":"Ali","type":"main","index":0}]]},"Ali":{"main":[[{"node":"AliExpress Search","type":"main","index":0}],[{"node":"Yandex","type":"main","index":0}]]},"Yandex":{"main":[[{"node":"Yandex Market Search","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cf788323-325d-467e-9e41-b9809ab0e512","activeVersionId":"c53b64d1-31a2-47af-bd64-084b3ed3e154","triggerCount":0,"shared":[{"updatedAt":"2026-02-17T10:16:15.269Z","createdAt":"2026-02-17T10:16:15.269Z","role":"workflow:owner","workflowId":"BaBoB0ZcmWCFdt23wy0sh","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":{"updatedAt":"2026-02-18T09:20:25.482Z","createdAt":"2026-02-18T09:20:21.506Z","versionId":"c53b64d1-31a2-47af-bd64-084b3ed3e154","workflowId":"BaBoB0ZcmWCFdt23wy0sh","nodes":[{"parameters":{"url":"=https://www.ozon.ru/search/","sendQuery":true,"queryParameters":{"parameters":[{"name":"text","value":"={{ $json.output.searchQuery }}"},{"name":"sorting","value":"price_asc"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"},{"name":"Accept","value":"application/json"}]},"options":{"batching":{"batch":{"batchSize":1}},"redirect":{"redirect":{"maxRedirects":10}}}},"id":"b9207ada-ae2e-4fc7-af56-b84c2069f1da","name":"Ozon Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-176,-64],"onError":"continueErrorOutput"},{"parameters":{"url":"=https://search.wb.ru/exactmatch/ru/common/v18/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.searchQuery }}"},{"name":"limit","value":"10"},{"name":"lang","value":"ru"},{"name":"sort","value":"popular"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"},{"name":"Accept","value":"application/json"}]},"options":{"batching":{"batch":{"batchSize":1}},"redirect":{"redirect":{"maxRedirects":10}}}},"id":"6d214a10-a73a-4d76-9dcc-69a8af9487e4","name":"Wildberries Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[48,32],"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"url":"=https://aliexpress.ru/gateway/api/search/products?keywords={{ $json.output.searchQuery }}&limit=5","options":{}},"id":"984cc630-fdfb-41eb-a8bc-28b9e7ec90f0","name":"AliExpress Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[272,128]},{"parameters":{"url":"=https://market.yandex.ru/api/v2/search.json?text={{ $json.output.searchQuery }}&limit=5","options":{}},"id":"180e1747-b184-45a0-ae9c-22ee66da9b6e","name":"Yandex Market Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[496,320]},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-624,32],"id":"8dc12944-0a7f-4591-ae71-5e7e23470087","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5517c26a-4850-4de0-826b-ee1ca48e7699","leftValue":"={{ $json.output.mp_type }}","rightValue":"ozon","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-400,32],"id":"5ed3d3b9-d518-4eb7-8445-5bc6231baa4b","name":"Ozon"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5517c26a-4850-4de0-826b-ee1ca48e7699","leftValue":"={{ $json.output.mp_type }}","rightValue":"wb","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-176,128],"id":"110d0657-308d-476b-9bac-5658dd41475d","name":"WB"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5517c26a-4850-4de0-826b-ee1ca48e7699","leftValue":"={{ $json.output.mp_type }}","rightValue":"ali","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[48,224],"id":"083ee3a4-083c-4b66-b491-2dc2016f01a7","name":"Ali"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5517c26a-4850-4de0-826b-ee1ca48e7699","leftValue":"={{ $json.output.mp_type }}","rightValue":"ym","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[272,320],"id":"cf869e58-7b89-43ba-be73-da2bbdc04ea6","name":"Yandex"}],"connections":{"Ozon Search":{"main":[[]]},"AliExpress Search":{"main":[[]]},"Yandex Market Search":{"main":[[]]},"Wildberries Search":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Ozon","type":"main","index":0}]]},"Ozon":{"main":[[{"node":"Ozon Search","type":"main","index":0}],[{"node":"WB","type":"main","index":0}]]},"WB":{"main":[[{"node":"Wildberries Search","type":"main","index":0}],[{"node":"Ali","type":"main","index":0}]]},"Ali":{"main":[[{"node":"AliExpress Search","type":"main","index":0}],[{"node":"Yandex","type":"main","index":0}]]},"Yandex":{"main":[[{"node":"Yandex Market Search","type":"main","index":0}]]}},"authors":"AIKona me","name":"Version c53b64d1","description":"","autosaved":true},"tags":[]}