Telegram Assistent.json
{"updatedAt":"2026-02-20T04:28:28.633Z","createdAt":"2026-02-09T13:35:25.243Z","id":"9sFz5tkXMZkatfG5wOvpt","name":"Telegram Assistent","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1376,-768],"id":"aa7276c3-ceab-4198-a939-8ac9f9a31458","name":"Telegram Trigger","webhookId":"5c3661ff-47ae-4900-a744-8ccb50255798","credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"chatId":"={{ $('Edit Fields').item.json.chat_id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-48,-672],"id":"8a589d45-fcf7-429c-9355-1c156a34a3f1","name":"Telegram Answer","webhookId":"1ce645c2-517f-4500-9d92-350920361dea","credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"30b4a241-83e0-46ac-80c5-3908604b8355","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.user_id }}","rightValue":"=50488534"}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"bd3ca456-ec73-4ba4-80a2-df0c48c5d168","name":"Check User","type":"n8n-nodes-base.if","position":[-496,-672],"typeVersion":2.2},{"parameters":{"workflowId":{"__rl":true,"value":"VmqRxUfBdXaUT6Gb_crlm","mode":"list","cachedResultUrl":"/workflow/VmqRxUfBdXaUT6Gb_crlm","cachedResultName":"Processing Chat Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-272,-672],"id":"861eca30-acb0-43d7-bd8f-11e07903cb81","name":"Call 'Processing Chat Message'"},{"parameters":{"assignments":{"assignments":[{"id":"3c767c3e-f1e7-4dd9-95aa-b1913c7334b3","name":"messenger_type","value":"telegram","type":"string"},{"id":"8448f3e4-89e6-43cf-a9b5-1e3ef908d839","name":"chat_id","value":"={{ $json.message.chat.id }}","type":"string"},{"id":"0c755979-cdd0-4abe-8575-954c17c6010f","name":"user_name","value":"={{ $json.message.from.first_name }}","type":"string"},{"id":"e5cc0585-1f18-424d-98f1-5292e67a0309","name":"user_id","value":"={{ $json.message.from.id }}","type":"number"},{"id":"8bd654b2-a26c-47cf-80d1-713d90dfbba9","name":"has_text","value":"={{ ($json.message.text != null && $json.message.text != '') }}","type":"boolean"},{"id":"21632d8a-d3a8-4ae0-9347-7e8368e825d1","name":"has_attachments","value":"={{ $json.message.photo != null }}","type":"boolean"},{"id":"21037b4d-203b-4a53-b8b0-f38c902511f1","name":"has_voice","value":"={{ ($json.message.voice != null && $json.message.voice.mime_type === 'audio/ogg') }}","type":"boolean"},{"id":"d7a43671-3b71-484d-a812-b8a624f4d515","name":"message_text","value":"={{ $json.message.text }}","type":"string"},{"id":"ad3e2fe2-dda8-45ae-bb1f-86fc45adfdd9","name":"attachments","value":"={{ $json.message.photo && $json.message.photo.length\n\t? $json.message.photo \n    : [$json.message.voice] }}","type":"array"},{"id":"5f403beb-f79a-4791-943f-a22923f58171","name":"link_attachments","value":"={{ [] }}","type":"array"},{"id":"1af3b882-9343-4b75-a426-bf101b8d4df6","name":"link_message_text","value":"=","type":"string"},{"id":"8a75e58a-04ca-47e7-bf51-b89ef7a22407","name":"use_model","value":"GigaChat","type":"string"}]},"includeOtherFields":true,"include":"selected","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-944,-768],"id":"21f26279-1049-4b1f-9b6b-2ad4fe76ffbf","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"68afa19c-62d2-4bc8-b653-ab2fac857de0","leftValue":"={{ $json.message_text }}","rightValue":"/start","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-720,-768],"id":"4cc190a9-abae-4a8d-b0ba-958448b29b1f","name":"If"},{"parameters":{"chatId":"={{ $('Edit Fields').item.json.chat_id }}","text":"=Привет! 😊✨ Я Айкона, твоя умная помощница! Помогу с любыми делами 🚀\n\nЧто я умею:\n\n🔍 Искать информацию в интернете (рецепты, новости, советы)\n\n📝 Составлять тексты (письма, посты, поздравления)\n\n💡 Давать идеи и советы по жизни, работе, хобби\n\n📱 Работать с фото, текстами и простыми задачами\n\n🎉 Развлекать шутками, гороскопами или историями\n\nНапиши, чем помочь — и вперёд! 💬","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-496,-864],"id":"78de7b37-1cce-40ee-be7f-515160409413","name":"Telegram Answer1","webhookId":"f1010de9-f4b1-482d-a0f9-bd0a63cc9cc2","credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"70492c10-22ff-4e35-9c42-e4b0d825be59","leftValue":"={{ $json.message.from.username }}","rightValue":"cosinus_v","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1168,-768],"id":"af9fd018-8b3d-4f92-a8d4-fbe4f0040215","name":"If1"}],"connections":{"Telegram Trigger":{"main":[[{"node":"If1","type":"main","index":0}]]},"Telegram Answer":{"main":[[]]},"Check User":{"main":[[{"node":"Call 'Processing Chat Message'","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Call 'Processing Chat Message'":{"main":[[{"node":"Telegram Answer","type":"main","index":0}]]},"If":{"main":[[{"node":"Telegram Answer1","type":"main","index":0}],[{"node":"Check User","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"269c5b8a-4948-4854-860e-f4d11997eb16","activeVersionId":"269c5b8a-4948-4854-860e-f4d11997eb16","triggerCount":1,"shared":[{"updatedAt":"2026-02-09T13:35:25.243Z","createdAt":"2026-02-09T13:35:25.243Z","role":"workflow:owner","workflowId":"9sFz5tkXMZkatfG5wOvpt","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":{"updatedAt":"2026-02-20T04:28:30.697Z","createdAt":"2026-02-20T04:28:28.637Z","versionId":"269c5b8a-4948-4854-860e-f4d11997eb16","workflowId":"9sFz5tkXMZkatfG5wOvpt","nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1376,-768],"id":"aa7276c3-ceab-4198-a939-8ac9f9a31458","name":"Telegram Trigger","webhookId":"5c3661ff-47ae-4900-a744-8ccb50255798","credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"chatId":"={{ $('Edit Fields').item.json.chat_id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-48,-672],"id":"8a589d45-fcf7-429c-9355-1c156a34a3f1","name":"Telegram Answer","webhookId":"1ce645c2-517f-4500-9d92-350920361dea","credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"30b4a241-83e0-46ac-80c5-3908604b8355","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.user_id }}","rightValue":"=50488534"}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"bd3ca456-ec73-4ba4-80a2-df0c48c5d168","name":"Check User","type":"n8n-nodes-base.if","position":[-496,-672],"typeVersion":2.2},{"parameters":{"workflowId":{"__rl":true,"value":"VmqRxUfBdXaUT6Gb_crlm","mode":"list","cachedResultUrl":"/workflow/VmqRxUfBdXaUT6Gb_crlm","cachedResultName":"Processing Chat Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-272,-672],"id":"861eca30-acb0-43d7-bd8f-11e07903cb81","name":"Call 'Processing Chat Message'"},{"parameters":{"assignments":{"assignments":[{"id":"3c767c3e-f1e7-4dd9-95aa-b1913c7334b3","name":"messenger_type","value":"telegram","type":"string"},{"id":"8448f3e4-89e6-43cf-a9b5-1e3ef908d839","name":"chat_id","value":"={{ $json.message.chat.id }}","type":"string"},{"id":"0c755979-cdd0-4abe-8575-954c17c6010f","name":"user_name","value":"={{ $json.message.from.first_name }}","type":"string"},{"id":"e5cc0585-1f18-424d-98f1-5292e67a0309","name":"user_id","value":"={{ $json.message.from.id }}","type":"number"},{"id":"8bd654b2-a26c-47cf-80d1-713d90dfbba9","name":"has_text","value":"={{ ($json.message.text != null && $json.message.text != '') }}","type":"boolean"},{"id":"21632d8a-d3a8-4ae0-9347-7e8368e825d1","name":"has_attachments","value":"={{ $json.message.photo != null }}","type":"boolean"},{"id":"21037b4d-203b-4a53-b8b0-f38c902511f1","name":"has_voice","value":"={{ ($json.message.voice != null && $json.message.voice.mime_type === 'audio/ogg') }}","type":"boolean"},{"id":"d7a43671-3b71-484d-a812-b8a624f4d515","name":"message_text","value":"={{ $json.message.text }}","type":"string"},{"id":"ad3e2fe2-dda8-45ae-bb1f-86fc45adfdd9","name":"attachments","value":"={{ $json.message.photo && $json.message.photo.length\n\t? $json.message.photo \n    : [$json.message.voice] }}","type":"array"},{"id":"5f403beb-f79a-4791-943f-a22923f58171","name":"link_attachments","value":"={{ [] }}","type":"array"},{"id":"1af3b882-9343-4b75-a426-bf101b8d4df6","name":"link_message_text","value":"=","type":"string"},{"id":"8a75e58a-04ca-47e7-bf51-b89ef7a22407","name":"use_model","value":"GigaChat","type":"string"}]},"includeOtherFields":true,"include":"selected","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-944,-768],"id":"21f26279-1049-4b1f-9b6b-2ad4fe76ffbf","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"68afa19c-62d2-4bc8-b653-ab2fac857de0","leftValue":"={{ $json.message_text }}","rightValue":"/start","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-720,-768],"id":"4cc190a9-abae-4a8d-b0ba-958448b29b1f","name":"If"},{"parameters":{"chatId":"={{ $('Edit Fields').item.json.chat_id }}","text":"=Привет! 😊✨ Я Айкона, твоя умная помощница! Помогу с любыми делами 🚀\n\nЧто я умею:\n\n🔍 Искать информацию в интернете (рецепты, новости, советы)\n\n📝 Составлять тексты (письма, посты, поздравления)\n\n💡 Давать идеи и советы по жизни, работе, хобби\n\n📱 Работать с фото, текстами и простыми задачами\n\n🎉 Развлекать шутками, гороскопами или историями\n\nНапиши, чем помочь — и вперёд! 💬","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-496,-864],"id":"78de7b37-1cce-40ee-be7f-515160409413","name":"Telegram Answer1","webhookId":"f1010de9-f4b1-482d-a0f9-bd0a63cc9cc2","credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"70492c10-22ff-4e35-9c42-e4b0d825be59","leftValue":"={{ $json.message.from.username }}","rightValue":"cosinus_v","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1168,-768],"id":"af9fd018-8b3d-4f92-a8d4-fbe4f0040215","name":"If1"}],"connections":{"Telegram Trigger":{"main":[[{"node":"If1","type":"main","index":0}]]},"Telegram Answer":{"main":[[]]},"Check User":{"main":[[{"node":"Call 'Processing Chat Message'","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Call 'Processing Chat Message'":{"main":[[{"node":"Telegram Answer","type":"main","index":0}]]},"If":{"main":[[{"node":"Telegram Answer1","type":"main","index":0}],[{"node":"Check User","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"authors":"AIKona me","name":"Version 269c5b8a","description":"","autosaved":true},"tags":[]}